header {
    background: #ff5367;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: .5em;
    border-bottom: thin solid #000000;
}

#sidebar {
    border-bottom-left-radius: 20px;
    padding-bottom: .5em;
    min-height: 500px;
}

#creditList {
    height: 200px;
    width: 100%;
    margin-top: 50px;
}

#creditList img {
    max-width: 100px;
    border-radius: 5px;
}

#bodyDiv {
    border-left: thin ridge #000000;
    -webkit-box-shadow: -5px 0px 5px -3px #616161;
    box-shadow: -5px 0px 5px -3px #616161;
    padding-bottom: .5em;
    min-height: 500px;
}

.shortDescription {
    display: none;
    margin-top: 1em;
}

#plotData {
    background-color: #000;
}

