@import url('https://fonts.googleapis.com/css?family=Bevan');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
    font-family: "Varela Round";
}

header {
    background: #000000;
    color: #dad9d8;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: .5em;
    font-family: Bevan;
}

header h1 {
    font-size: 40pt;
}

header div {
    text-align: center;
}

#headerLogo {
    margin-left: 15px;
}

#sidebar {
    padding-top: .5em;
    margin-bottom: 1em;
    max-width: 300px;
}

.nav-pills > li > a {
    font-size: larger;
}

.nav-pills > li.active > a {
    background: linear-gradient(rgba(128, 4, 8, 0.67), #800408);
}

.nav-pills > li.active > a:hover {
    background: #580408;
}

#bodyDiv {
    border-left: thin ridge #000000;
    -webkit-box-shadow: -5px 0px 5px -3px #616161;
    box-shadow: -5px 0px 5px -3px #616161;
    padding-top: .5em;
    padding-left: 25px;
    padding-bottom: 100px;
    min-height: 500px;
}

#welcomeHead, #searchHead, #favHead, #dataHead, .alreadyAdded {
    margin-bottom: 1em;
}

.spaceAbove {
    margin-top: 1em;
}

.spaceBelow {
    margin-bottom: .5em;
}

.searchInfo {
    margin-top: .5em;
}

.shortDescription {
    display: none;
    margin-top: 1em;
}

hr {
    height: 1px;
    color: #000000;
    background-color: #000000;
    border: none;
    box-shadow: 0px 0px 5px 1px;
}

#plotBtn {
    margin: 0 auto;
}

#plotDiv {
    width: 100%;
}

#tagDiv {
    display: none;
}

footer {
    background: #000000;
    color: #dad9d8;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Bevan;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.creditImgs {
    display: inline-block;
}

#quandleImg, #intrinoImg {
    margin-left: 1em;
    text-align: center;
}

#quandleImg Img, #intrinoImg img {
    max-width: 50px;
    border-radius: 5px;
    text-align: center;
}


